.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-columns: 300px 300px;
    grid-gap: 2px;
    padding: 20px;
    grid-template-areas:
        "header header"
        "main main"
        "aside aside"
        "footer footer";
}

.body {
    background-color: rgb(229, 227, 227);
}

.button {
    background-color: teal;
    grid-area: right;
  
}

.container__item {
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.container__aside {
    grid-area: aside;
    align-items: start;
    justify-content: start;


}

.container__main {

    grid-area: main;

}

.container__header {

    grid-area: header;
    align-items: start;
    justify-content: start;
    grid-template-rows: auto-fill;
}