.container {
    display: grid;
    grid-gap: 2px;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;

}

.container__item {
    background-color: white;
    margin: 1.5px 2px 2px 2px;
    padding: 30px;
    list-style-type: none;
    width: 1000px;

}

.tasks {

    flex-grow: 1;
    padding-left: 10px;
    font-size: 20px;
    align-items: center;

}

li {
    display: grid;
    grid-template-columns: 70px 700px 100px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    width: 950px;
    align-items: center;
    
}

.js-newTask {
    line-height: 1.15;
    width: 700px;
    padding: 5px;
    height: 50px;

}



